<div class="container pt-5">
    <button (click)="getPrice()">Start</button>
    <button (click)="stop()">Stop</button>
    <table class="table" border="1">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Ticker</th>
                <th scope="col">Price</th>
                <th scope="col">Last Update</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let obj of tableData">
                <th>{{obj.ticker}}</th>
                <td>{{obj.price}}</td>
                <td>Otto</td>
            </tr>
        </tbody>
    </table>
</div>